<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/login">Login page</a>
            <a mat-list-item routerLink="/map-component">Car Location</a>
            <a mat-list-item routerLink="/drive-state">Drive State</a>
            <a mat-list-item routerLink="/vehicle-state">Vehicle State</a>
            <a mat-list-item routerLink="/climate-state">Climate State</a>
            <a mat-list-item routerLink="/vehicle-config">Vehicle Config</a>
            <a mat-list-item routerLink="/gui-settings">GUI Settings</a>
            <a mat-list-item routerLink="/charge-state">Charge State</a>
            <a mat-list-item routerLink="/super-chargers">SuperCharger locations</a>
            <a mat-list-item routerLink="/destination-chargers">DestinationChargers locations</a>
            <a mat-list-item routerLink="/near-chargers">CarCharging commands</a>
            <a mat-list-item routerLink="/honk-horn">Honk Horn</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>